.golfForm-container{
    background-color:rgb(99, 204, 99);
    width: 19vw;
    padding: 10px 15px 20px 35px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.golfForm-input{
    margin-top: 15px;
}

.golfForm-input label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.golfForm-input input{
    width: 10vw;
    height: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: whitesmoke;
    margin-left: 5px;
}

.golfForm-input select{
    width: 10vw;
    height: 23.5px;
    border-radius: 5px;
    border-style: none;
    background-color: whitesmoke;
    margin-left: 37.5px;
}

.add-golfClub-button button{
    width: 7.5vw;
    padding: 5px 7.5px 5px 7.5px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: medium;
}

.add-golfClub-button{
    margin-left: 20%;
}